.profile 
    form(action='/index.html', method='get')
        .profile__block
            .profile__block__avatar
                //- form(id='avatar-form')
                | !{avatar}
                input(id='person_avatar_input', style="display: none", type='file')
        .profile__block
            | !{emailInput}
        .profile__block
            | !{loginInput}
        .profile__block
            | !{nameInput}
        .profile__block
            | !{surnameInput}
        .profile__block
            | !{displayNameInput}
        .profile__block
            | !{phoneInput}
        .profile__block
            .profile__btn-block
                div
                    | !{saveBtn}
                if (showUpdateAnimation)
                    .checkmark

    form(action='/index.html', method='get')
        .profile__block
            | !{newPasswordInput}
        .profile__block
            | !{oldPasswordInput}
        .profile__block
            .profile__btn-block
                div
                    | !{pwdBtn}
                if (showPasswordUpdateAnimation)
                    .checkmark
                div
                    | !{exitBtn}