.profile 
    form(action='/index.html',method='get')
        .profile__block
            .profile__block__avatar 
                | !{avatar}
        .profile__block
            | !{emailInput}
        .profile__block
            | !{loginInput}
        .profile__block
            | !{nameInput}
        .profile__block
            | !{surnameInput}
        .profile__block
            | !{phoneInput}
        .profile__block
            | !{newPasswordInput}
        .profile__block
            | !{oldPasswordInput}
        .profile__block
            .profile__btn-block
                div
                    | !{saveBtn}
                div
                    | !{exitBtn}
        input(id='avatar_input', style="display: none", type='file')