.chat-container
    div
        each message in messages
            if (message.date !== currentDate)
                - currentDate = message.date
                .message-date #{message.date}
            .message-block(class=message.self ? 'message-block--self' : null)
                if (!message.self)
                    | !{friendAvatar}
                div 
                    | !{messageAreas[message.id]}
                if (message.self)
                    | !{selfAvatar}
    .new-message-block
        div()
            | !{addFileBtn}
            input(id='file_input', style="display: none", type='file')
        div(style='width: 100%')
            | !{messageInput}
        div()
            | !{sendBtn}
