.main-page 
    ul.main-page__friends-list
        div(style='width: 100%;')
            | !{chatPerson}
        li(style='display: flex; justify-content: space-between; padding: 10px 20px;')
            div(class='margin: 10px;')
                | !{titleInput}
            .self-align-center
                | !{plusBtn}
        each chat, index in chats
            div(style='width: 100%', id=chat.id)
                | !{chatPersons[index]}
    .main-page__chat-area(id='chat-area')
        if active === person.id
            | !{profile}
        else 
            | !{chatArea}
    //-     +chat-area(getMessages(active))
    //- .main-page__chat-area(id='profile-area')
    //-     +profile(profile)